
* {
    margin: 0%;
    padding:0%;
}

body {
    font-family: 'Lato', sans-serif;
}
.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 10px 25px;
    border:none;
    color:white;
}
/*style banner section*/
.banner-section {
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-text {
    padding: 0px 0px 0px 100px;

}
.banner-text-title {
width: 708px;
color: #272727;
font-size: 80px;
font-weight: 800;
}
.banner-text-desc {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding:20px 0px;

}
.banner-img {
    padding: 55px 100px 0px 0px;
}

/*style featured section*/
.featured-info {
    text-align: center;
}
.info-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    padding-top:100px;
}
.info-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    padding: 20px 
}
.featured-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.card{

}
.box1 {
width: 300px;
height: 400px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding:100px 0px 0px 70px;
}
.box2 {
    width: 300px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding:100px 0px 0px 70px;
    }
    .box3 {
        width: 300px;
        height: 400px;
        border-radius: 300px 300px 0px 0px;
        background: rgba(71, 125, 17, 0.15);
        padding:100px 0px 0px 70px;
        }
.box-img1 {
    margin: 55px 0px 0px 0px;
    width: 250px;
}
.box-img2 {
    margin: 55px 0px 0px 0px;
    width: 300px;
}
.box-img3 {
    margin: 25px 0px 0px 0px;
    width: 250px;
}
.box-desc {
text-align: center;
}

/*style icon section */
.icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-section {
    /* background: rgba(39, 39, 39, 0.05); */
    padding:50px;
}
.icon-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.icon-card {
    background: rgba(39, 39, 39, 0.05);
    padding: 80px 95px;
    text-align: center;
}
.icon {
    width:50px;
}

/*style Hot Deal Section*/ 
.hot-deal-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding:0px 200px;
}
.hot-deal-text {
    text-align: center;
    padding:20px 20px;
}
.hot-deal-text-title{
    font-weight: bold;
}
.hot-deal-text-desc {
    padding: 10px 10px;
}
.hot-deal-image {
    width:250px;
}

/* Style Instagram section*/

.insta-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insta-title {
    text-align: center;
    font-weight: 800;
    padding-top:100px;
    font-size: 30px;

}
.insta-desc {
    text-align: center;
    padding:20px 0px;
}
.insta-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    /* padding-bottom: 100px; */
}
.photo {
    width:283px;
}

/*style subscribe section*/
.subscribe-section {
    background-image: url("Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px 180px;
}
.subscribe-details {
    padding: 100px;
    text-align: center;
}
.details-title {

}
.details-desc {
    
}
.details-input {
    border: none;
    padding:10px 200px 10px 20px;
    border-radius: 8px;
    margin-right: 5px;
}


.gallery-h4{
text-align: center;
padding-bottom: 10px;
}
.gallery-h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 800;
    font-size: 30px;

}
.gallery-pera {
    text-align: center;
    padding-bottom: 20px;

}
.gallery-photos {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 50px;

}
.gallery-photo {
    width:350px;
    border: 2px solid #E55473;
    border-radius: 8px;
    box-shadow: 7px 6px 14px 1px rgba(65,65,65,0.53);
    
}



/*style footer section */
.footer-section {
    background: #111010;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:80px 50px;
    
}
.footer-child {
    color:white;
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-child-desc {
    padding:10px 10px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 13px;

}
.footer-child-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 13px;

}
